<h1>FORM</h1>

<form
  [formGroup]="form"
  autocomplete="off"
>
  <ng-container *ngFor="let input of data">
    <input
      appCleanAttr
      appClassByStateInput
      [formControlName]="input.name"
      [value]="input.value"
      [placeholder]="input.placeholder"
      [type]="input.type"
      [required]="input.required"
      [min]="input.min ?? ''"
      [max]="input.max ?? ''"
      [step]="input.step ?? ''"
      [minLength]="input.minLength ?? ''"
      [maxLength]="input.maxLength ?? ''"
      [pattern]="input.pattern ?? ''"
    />
    <app-error-msg
      [form]="form"
      [list]="input.messagesError"
      [type]="input.name"
    >
    </app-error-msg>
  </ng-container>
  <button
    type="submit"
    (click)="save()"
  >
    Enviar
  </button>
</form>

<div class="valid">
  VALID:
  <div
    class="valid-circle"
    [ngStyle]="{ 'background-color': form.valid ? 'green' : 'red' }"
  ></div>
</div>
<pre>
  FORM: {{ form.value | json }}
</pre>
